/********** Base styles **********/
* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica;
  font-size: 16px;
}


h1 {
  margin-bottom: 15px;
  font-size: 1.75em;
  text-align: center
}
.m_body {
  position: relative;
  border: 1px solid black;
  height: 150px;
  color: blue;
  background-color: #F0E3E3;
  margin-bottom: 15px;
}

.m_body p {
  position: absolute;
  padding: 10px;
}

.m_title{
  top: 0px;
  right: 0px;  
  position: absolute;
  width: 100px;
  text-align: center;
  font-size: 1.25em;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  color: black;
}

#m_title_chicken {
  background-color: yellow;
}

#m_title_beef {
  background-color: orange;
  color: white;
}

#m_title_sushi {
  background-color: red;
}




/* Simple Responsive Framework. */
/********** Large devices only **********/

@media (min-width: 992px) { .desktop {
    float: left;
    width: 32%;
    margin-right: 1.333%;
    }
}
/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {.tablet50, .tablet100 {
    float: left;
    margin-right: 2%;
  }
  .tablet50 {
    width: 48%;
  }
  .tablet100 {
    width: 98%;
  }
}

/********** Small devices only **********/
@media (max-width: 767px) { .mobile {
    float: left;
    width: 100%;
  }
}
